<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyBirdGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB045F6C1F02F2B900EFBBB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB045F861F02F2BA00EFBBB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB045F911F02F2BA00EFBBB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
